In [1]:
#Getting all the necessary Libraries
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt


from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,classification_report

In [2]:
#reading Data set 
df_train = pd.read_table('trainKNN.txt',delimiter=',',header=None, index_col=0,names=['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','GlassType'])
df_test = pd.read_table('testKNN.txt',delimiter=',',header=None, index_col=0,names=['RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','GlassType'])

print(df_train.shape, df_test.shape)

(196, 10) (18, 10)

In [3]:
df_train.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  GlassType
1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0          1
2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0          1
3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0          1
4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0          1
5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0          1

In [4]:
df_test.head()

          RI     Na    Mg    Al     Si     K     Ca   Ba    Fe  GlassType
68   1.52152  13.05  3.65  0.87  72.32  0.19   9.85  0.0  0.17          1
69   1.52152  13.12  3.58  0.90  72.20  0.23   9.82  0.0  0.16          1
70   1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.0  0.03          1
144  1.51709  13.00  3.47  1.79  72.72  0.66   8.18  0.0  0.00          2
145  1.51660  12.99  3.18  1.23  72.97  0.58   8.81  0.0  0.24          2

In [6]:
print(df_train.info())
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 196 entries, 1 to 211
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   RI         196 non-null    float64
 1   Na         196 non-null    float64
 2   Mg         196 non-null    float64
 3   Al         196 non-null    float64
 4   Si         196 non-null    float64
 5   K          196 non-null    float64
 6   Ca         196 non-null    float64
 7   Ba         196 non-null    float64
 8   Fe         196 non-null    float64
 9   GlassType  196 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 68 to 214
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   RI         18 non-null     float64
 1   Na         18 non-null     float64
 2   Mg         18 non-null     float64
 3   Al         18 non-null     float64
 4   Si         18 non-null     float64
 5   K          18 non-null     float64
 6   Ca         18 non-null     float64
 7   Ba         18 non-null     float64
 8   Fe         18 non-null     float64
 9   GlassType  18 non-null     int64
dtypes: float64(9), int64(1)
memory usage: 1.5 KB
None

### There are no null values and the Data types are correct

In [8]:
#Splitting the data
x_train = df_train.iloc[:,[0,1,2,3,4,5,6,7,8]]
y_train = df_train.iloc[:,9]
x_test = df_test.iloc[:,[0,1,2,3,4,5,6,7,8]]
y_test = df_test.iloc[:,9]

In [9]:
#Scaling and Model Building 

from sklearn.preprocessing import StandardScaler
func = StandardScaler()
func.fit(x_train)
x_train_std = func.transform(x_train)
x_test_std = func.transform(x_test)

from scipy.spatial import distance
num_neighbors = [1,2,3,4,5,6,7,8,9,10]
acc_results = []
for num in num_neighbors:
    #Equclidean Distance 
    model = KNeighborsClassifier(n_neighbors=num, metric=distance.sqeuclidean).fit(x_train_std, y_train)
    acc_results.append(accuracy_score(y_test, model.predict(x_test_std)))
     
print(acc_results)

[0.6111111111111112, 0.4444444444444444, 0.6111111111111112, 0.5, 0.5555555555555556, 0.5555555555555556, 0.5555555555555556, 0.6111111111111112, 0.5555555555555556, 0.5]

In [11]:

from scipy.spatial import distance
num_neighbors = [1,2,3,4,5,6,7,8,9,10]
acc_results = []
for num in num_neighbors:
    #Manhatten Distance 
    model = KNeighborsClassifier(n_neighbors=num, metric=distance.cityblock).fit(x_train_std, y_train)
    acc_results.append(accuracy_score(y_test, model.predict(x_test_std)))
print(acc_results)

[0.6666666666666666, 0.4444444444444444, 0.6111111111111112, 0.5, 0.5555555555555556, 0.5, 0.5, 0.5, 0.5, 0.5]

### K= 8 gives the best score with optimun value of K.

In [12]:

euclid_model = KNeighborsClassifier(n_neighbors=8, metric=distance.sqeuclidean).fit(x_train_std, y_train) # Square Euclidean distance model
manhattan_model = KNeighborsClassifier(n_neighbors=1, metric=distance.cityblock).fit(x_train_std, y_train) #Manhattan distance model

manhattan_predictions = manhattan_model.predict(x_test_std)
euclid_predictions = euclid_model.predict(x_test_std) 
df = pd.DataFrame({'actual': y_test, 'manhattan': manhattan_predictions, 'euclid': euclid_predictions})
df.head()

     actual  manhattan  euclid
68        1          1       1
69        1          1       1
70        1          1       1
144       2          2       2
145       2          1       1