In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np

In [2]:
df=pd.read_csv("English.csv")
df.head()

  English words/sentences
0                     Hi.
1                    Run!
2                    Run!
3                    Who?
4                    Wow!

In [3]:
print(df.shape)
print("="*10)
print(df.info())
print("="*10)
print(df.isnull().sum())
print("="*10)
print(df["English words/sentences"].nunique())

(175621, 1)
==========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175621 entries, 0 to 175620
Data columns (total 1 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   English words/sentences  175621 non-null  object
dtypes: object(1)
memory usage: 1.3+ MB
None
==========
English words/sentences    0
dtype: int64
==========
123100

In [4]:
# The data has no Null values 
# The data is in series format
# There are duplicates in the data.

In [5]:
#Dropping duplicates 
df.drop_duplicates()

                                  English words/sentences
0                                                     Hi.
1                                                    Run!
3                                                    Who?
4                                                    Wow!
5                                                   Fire!
...                                                   ...
175616  Top-down economics never works, said Obama. "T...
175617  A carbon footprint is the amount of carbon dio...
175618  Death is something that we're often discourage...
175619  Since there are usually multiple websites on a...
175620  If someone who doesn't know your background sa...

[123100 rows x 1 columns]

In [6]:
#Wrking with Translate lib

from translate import Translator
translator= Translator(to_lang="spanish")
translation = translator.translate("Good Morning!")
print(translation)

¡Buenos días!

In [7]:
translator= Translator(to_lang="spanish")
#translation = translator.translate("Guten Morgen")
df["SPANISH"]=1
for i in range(10): # As the program freeze while run for long time due to API timeout, I have run for small range only. 
    k=df["English words/sentences"].iloc[i]
    j=translator.translate(k)
    df["SPANISH"].iloc[i]=j

C:\Users\HOME\AppData\Local\Temp\ipykernel_424\2634777923.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SPANISH"].iloc[i]=j

In [8]:
df.head()

  English words/sentences      SPANISH
0                     Hi.         hola
1                    Run!      ¡Corre!
2                    Run!      ¡Corre!
3                    Who?      ¿Quién?
4                    Wow!  ¡Qué dices!

In [9]:
translator= Translator(to_lang="French")
#translation = translator.translate("Guten Morgen")
df["French"]=1
for i in range(10): # As the program freeze while run for long time due to API timeout, I have run for small range only. 
    k=df["English words/sentences"].iloc[i]
    j=translator.translate(k)
    df["French"].iloc[i]=j

C:\Users\HOME\AppData\Local\Temp\ipykernel_424\3695180098.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["French"].iloc[i]=j

In [10]:
df.head()

  English words/sentences      SPANISH   French
0                     Hi.         hola   Salut.
1                    Run!      ¡Corre!  Cours !
2                    Run!      ¡Corre!  Cours !
3                    Who?      ¿Quién?     Qui?
4                    Wow!  ¡Qué dices!  Waouh !

In [11]:
translator= Translator(to_lang="German")
#translation = translator.translate("Guten Morgen")
df["German"]=1
for i in range(10): # As the program freeze while run for long time due to API timeout, I have run for small range only. 
    k=df["English words/sentences"].iloc[i]
    j=translator.translate(k)
    df["German"].iloc[i]=j

C:\Users\HOME\AppData\Local\Temp\ipykernel_424\2523572945.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["German"].iloc[i]=j

In [12]:
df.head()

  English words/sentences      SPANISH   French   German
0                     Hi.         hola   Salut.   Hallo,
1                    Run!      ¡Corre!  Cours !    Lauf!
2                    Run!      ¡Corre!  Cours !    Lauf!
3                    Who?      ¿Quién?     Qui?  Welche?
4                    Wow!  ¡Qué dices!  Waouh !     Wow!

### Conclusion 
The original dataset containing the English words and sentences has been converted to respective languages using the Translator Library.